<p style="color:red;" align="right"><font size="3">**JOB DIGNOSIS REPORT</p>
<p align="right">DB Last Updated Time 2017-01-25 12:24:40</p>
<h1>APPLICATION ID: <a href="http://prod-fdphadoop-bheema-rm-0001:8088/proxy/application_1483285635817_493327" target="_blank"> application_1483285635817_493327 </a></h1>
</head>
 <p><font size="2" color="red">** note: data size's are in GB & Time in min **</font></p>
<!DOCTYPE html>
<html>
<head>
<style>
p.serif {
font-family: "Times New Roman", Times, serif;
}
p.sansserif {
font-family: Arial, Helvetica, sans-serif;
}
</style>
<body><font face="verdana">
<br>

JOB COUNTERS

<br>
<script type="text/javascript">
function showhide(id) {
var e = document.getElementById(id);
e.style.display = (e.style.display == 'block') ? 'none' : 'block';
}
</script>
<table style="width:70%">
<style>
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 5px;
}
</style>
<p>Applicaiton Running for 2.21675444444 hrs</p>
<tr><td>Total HDFS_BYTES_READ</td><td bgcolor="#FF6347">1126.02860031 GB</td></tr>
<tr><td>Total HDFS_BYTES_WRITTEN</td><td >5.37509046681 GB</td></tr>
<tr><td>No of Maps Running</td><td>1</td></tr>
<tr><td>No of Maps Pending</td><td>0</td></tr>
<tr><td>No of Reduces Running</td><td>2</td></tr>
<tr><td>No of Reduces Pending</td><td>0</td></tr>
<tr><td>No of Maps Completed</td><td>2949</td></tr>
<tr><td>No of Reducers Completed</td><td>1007</td></tr>
<tr><td>Queue Name </td><td>flow2</td></tr>
<tr><td>User Name </td><td>fk-fdp-sp</td></tr>
</table>
<br>
<p> Pattern 2 : Cheking For Fetch Failures </p>
<table style="width:100%" cellspacing="10">
<tr><th align="left">TASK NAME</th><th align="left">ATTEMPT NAME</th><th align="left">HOST</th><th align="left">REPORT </th><th align="left">ERROR</th><th align="left">ELAPSED TIME in min </th></tr>
<tr><td>task_1483285635817_493327_m_002838</td><td>attempt_1483285635817_493327_m_002838_0</td><td>prod-fdphadoop-bheema-dn-0205:8042</td><td>Fetch Failure</td><td>Too Many fetch failures</td><td>40.410400</td></tr>
</table>
<p>HOST CHECK FOR  Disk & CPU Error in dmesg </p>
<table style="width:80%">
<tr><th align="justify">Host</th><th align="justify">DISK ISSUE</th><th align="justify">DISK DMESG</th><th align="justify">CPU DMESG</th><th align="justify">DISK I/O URL</th><th align="justify">TASK RUNNING</th></tr>
<script type="text/javascript">
function showhide(id) {
var e = document.getElementById(id);
e.style.display = (e.style.display == 'block') ? 'none' : 'block';
}
</script>
<tr><td>ALL RUNNING TASKS HOST</td><td>GOOD</td><td>GOOD</td><td>GOOD</td><td>NULL</td><td>NULL</td></tr>
</table>
<br>
<p><b> Recommendations</b> </p>
<br>
<table style="width:100%" cellspacing="10">
<tr><th align="left">HOST</th><th align="left">TASKS</th><th align="left">Highly Utilised Disk</th><th align="left">Disk with High Await Time</th></tr>
<tr><td>prod-fdphadoop-bheema-dn-0607</td><td>"task_1483285635817_493327_r_000576"</td><td>Good <a href=http://10.47.4.24/dashboard/db/bheema-disk-utilisation?panelId=12&fullscreen&from=1485324884387&to=1485327294875&var-host=prod-fdphadoop-bheema-dn-0607 target="_blank"> util link</a></td><td>['vdd', 'vdg'] <a href=http://10.47.4.24/dashboard/db/bheema-disk-utilisation?panelId=13&fullscreen&from=1485324884387&to=1485327294875&var-host=prod-fdphadoop-bheema-dn-0607 target="_blank"> await link</a></td></tr>
<tr><td>prod-fdphadoop-bheema-dn-0060</td><td>"task_1483285635817_493327_m_002838"</td><td>Good <a href=http://10.47.4.24/dashboard/db/bheema-disk-utilisation?panelId=12&fullscreen&from=1485319345102&to=1485327294875&var-host=prod-fdphadoop-bheema-dn-0060 target="_blank"> util link</a></td><td>['vdc', 'vdd', 'vde', 'vdf', 'vdg', 'vdh', 'vdi', 'vdj', 'vdk'] <a href=http://10.47.4.24/dashboard/db/bheema-disk-utilisation?panelId=13&fullscreen&from=1485319345102&to=1485327294875&var-host=prod-fdphadoop-bheema-dn-0060 target="_blank"> await link</a></td></tr>
<tr><td>prod-fdphadoop-bheema-dn-0790</td><td>"task_1483285635817_493327_r_000497"</td><td>Good <a href=http://10.47.4.24/dashboard/db/bheema-disk-utilisation?panelId=12&fullscreen&from=1485324884469&to=1485327294875&var-host=prod-fdphadoop-bheema-dn-0790 target="_blank"> util link</a></td><td>['vdc', 'vdd', 'vde', 'vdf', 'vdg', 'vdi', 'vdj', 'vdk', 'vdl'] <a href=http://10.47.4.24/dashboard/db/bheema-disk-utilisation?panelId=13&fullscreen&from=1485324884469&to=1485327294875&var-host=prod-fdphadoop-bheema-dn-0790 target="_blank"> await link</a></td></tr>
</table>
<br>
<p><b>Comments </b></p>
<p><b><mark> task_1483285635817_493327_r_000497 with Reduce Shuffle Input of 0.595709 GB and HDFS Write of 0.000000 GB Running for 39 Hrs</mark> </b></p>
